* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

section {
    display: flex;
    width: 100%;
    height: 330px;
    margin-bottom: 10px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 330px;
    background-color: rgb(183, 217, 238);
    border-radius: 10px;
    padding: 20px;
}

#ney {
    width: 18%;
    height: 100%;
}

.txt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 240px;
}

.intro h2 {
    color: rgb(4, 92, 192);
    font-size: 24px;
    line-height: 1.2;
}

.btn{
    margin-top: 10px;
    background-color: rgb(4, 92, 192);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 4px 12px;
    cursor: pointer;
    font-size: 12px;
    width: 100%;
}
.btn:hover{
    transform: scale(1.02);
}
.btn h2{
    color: white;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 280px;
    padding: 8px 15px;

    background-color: rgb(4, 92, 192);
    color: white;

    border: none;
    border-radius: 20px;
    cursor: pointer;

    font-size: 12px;
}

.icone {
    color: white;
    margin-left: 30px;
    scale: 2;
}

.pedidos {
      font-family: Arial, sans-serif;
      width: 100%;
      max-width: 800px;
      border: 1px solid #ccc;
      background-color: rgb(183, 217, 238);
      border-radius: 10px;
      margin-left: 3px;
    }

    .pedidos-cab {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 12px 16px;
      background: #f5f5f5;
      border-bottom: 1px solid #ddd;
    }

    .pedidos-cab h3 {
      margin: 0;
      font-size: 18px;
      font-weight: normal;
    }

    .pedidos-cab p {
      margin: 0;
      cursor: pointer;
    }

    .pedidos-tabela {
      width: 100%;
    }

    .linha-pedidos {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 10px 16px;
      border-bottom: 1px solid #eee;
    }

    .cabecario-pedidos {
      background-color: #fafafa;
      font-weight: bold;
      border-bottom: 2px solid #ddd;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    .linha-pedidos p {
      margin: 0;
      margin-top: 15px;
    }

    .ok {
        background-color: green;
        color: white;
        font-weight: bold;
        border-radius: 20px;
        text-align: center;
    }

    .analise {
        background-color: orange;
        color: white;
        font-weight: bold;
        border-radius: 20px;
        text-align: center;
    }

    .erro {
        background-color: red;
        color: white;
        font-weight: bold;
        border-radius: 20px;
        text-align: center;
    }
    #icon{
        color: rgb(0, 0, 0);
        margin-left: 15px;
        scale: 2;
    }

