* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.intro {
    display: flex;
    align-items: center;
    width: 60%;
    height: 330px;
    background-color: rgb(183, 217, 238);
    border-radius: 10px;
    padding: 20px;
}

#ney {
    width: 18%;
    height: 100%;
}

.txt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 180px;
}

.intro h2 {
    color: rgb(4, 92, 192);
    font-size: 24px;
    line-height: 1.2;
}

.btn{
    margin-top: 10px;
    background-color: rgb(4, 92, 192);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 12px;
}
.btn:hover{
    transform: scale(1.02);
}
.btn h2{
    color: white;
}
.menu {
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 280px;
    padding: 8px 15px;

    background-color: rgb(4, 92, 192);
    color: white;

    border: none;
    border-radius: 20px;
    cursor: pointer;

    font-size: 12px;
}